---
import H2 from "../components/H2.astro";
import Main from "../components/Main.astro";

import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <Main class="top-1/4">
    <div class="flex flex-col justify-center">
      <div class="flex items-center space-x-8 mb-8">
        <div class="prose prose-xl text-white">
          <H2 text="Thanks for stopping by. Who am I?" />
          <p>
            I'm Dani, and I graduated from the University of Mathematics &
            Computer Science almost two years ago. I'm grateful that I could
            work full-time while I was still a student, giving me over three
            years of valuable experience. Now, I'm using my time to grow in
            multiple areas of my life.
          </p>
          <p>
            On the home page, you've probably noticed the three chips that
            describe me: Christian, Developer, and Reader. My faith as a
            Christian influences everything I do, including my work, as I strive
            to do everything by God's grace for Him!
          </p>
        </div>
        <img
          src="/about_profile_photo.JPG"
          class="rounded-2xl aspect-thumbnail object-cover aspect-[13/12] h-[500px]"
        />
      </div>

      <div class="my-4 prose prose-xl text-white">
        <p>
          Being a developer is not just my vocation but also my passion. I enjoy
          solving interesting problems and creating useful things. But at the
          core of it all is my identity as a Christian.
        </p>
        <p>
          The third chip, "Reader," represents one of my most visible hobbies.
          Surprisingly, I didn't like reading until I entered university, but
          I've come to appreciate it as a helpful habit. I make an effort to
          read as much as possible on various topics, with a particular focus on
          Theology books.
        </p>
        <H2 text="Why choosing to work with me?" />
        <p>
          I want to work responsibly. I am young and have time to spare - that's
          a thing that I've discovered lately is that with only one client. But
          I could also take more to work on. That is why I've created a company.
          It allows me to easily work for more than one client if needed. With
          it I also am being able to track every paper work required by a
          trusted accountant. That way, I can focus more on the work itself and
          not so much of the other administration things.
        </p>
        <p>
          So, if you want me to solve a problem for you, write me a mail to:
          <b>cdanielraducu@gmail.com</b>. Will respond shortly. Bless you!
        </p>
      </div>
    </div>
  </Main>
</Layout>
