---
import Layout from "../layouts/Layout.astro";
import H1 from "../components/H1.astro";
import Main from "../components/Main.astro";
import CrossIcon from "../components/icons/CrossIcon.astro";
import DeveloperIcon from "../components/icons/DeveloperIcon.astro";
import ReadIcon from "../components/icons/ReadIcon.astro";
import H2 from "../components/H2.astro";
---

<Layout title="Welcome!">
  <Main>
    <div
      class="flex flex-col lg:flex-row space-x-0 lg:space-x-8 space-y-8 lg:space-y-0"
    >
      <div class="flex flex-col mx-auto items-center">
        <H1 text="Hello, this is Dani Raducu." class="text-center" />
        <H2 text="Based in Bucharest, Romania." class="text-center"/>
        <div class="flex flex-wrap items-center justify-center gap-2 mb-4">
          <div class="bg-zinc-600 rounded-3xl w-max p-2.5 flex">
            <CrossIcon />
            <p class="text-md text-white font-medium ml-1">Christian</p>
          </div>
          <div class="bg-zinc-600 rounded-3xl w-max p-3 flex">
            <DeveloperIcon />
            <p class="text-md text-white font-medium ml-2">Developer</p>
          </div>
          <div class="bg-zinc-600 rounded-3xl w-max p-3 flex">
            <ReadIcon />
            <p class="text-md text-white font-medium ml-2">Reader</p>
          </div>
        </div>
        <img
          src="/home_profile_photo.JPG"
          class="rounded-2xl aspect-thumbnail object-cover aspect-square w-[280px] lg:w-[360px]"
        />
      </div>
    </div>
  </Main>
</Layout>
